.user-settings-item {
  margin-bottom: 14px;
}

.user-settings-item label {
  color: dodgerblue;
}

.user-settings-item .form-control {
  margin-bottom: 14px;
}

.user-settings-item .input-error,
.user-settings-item .new-input-error {
  margin: 8px 0;
}

.user-settings-item .buttons-wrapper .btn {
  display: inline;
  width: 75px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .user-settings-item .buttons-wrapper {
    margin-top: 10px;
  }
}
