.CalendarToggleMenu div[class^='col'] {
  padding: 4px 8px;
}

.CalendarToggleMenu #calendar-toggle label {
  width: 90%;
  color: white;
  padding: 3px 8px;
  font-size: 1rem;
}

.CalendarToggleMenu #select-all-btn {
  margin-top: 10px;
  padding: 4px 8px;
}
