.CalendarPage {
  padding-top: 50px;
  padding-bottom: 120px;
}

.CalendarPage > .container {
  max-width: 1800px;
}

.CalendarPage .rbc-calendar {
  min-height: 800px;
  padding-bottom: 50px;
}

.CalendarPage .rbc-toolbar {
  margin-bottom: 1.5rem;
}

.CalendarPage .rbc-toolbar-label {
  font-weight: bold;
}

.CalendarPage .rbc-btn-group {
  background: whitesmoke;
  font-size: 12px;
}

.CalendarPage label {
  font-size: 1.2rem;
}
