.CalendarPage > .container {
  max-width: 1600px;
  padding-top: 35px;
}

.CalendarPage .rbc-calendar {
  min-height: 800px;
}

.CalendarPage .rbc-toolbar {
  margin-bottom: 1.5rem;
}

.CalendarPage .rbc-toolbar-label {
  font-weight: bold;
}

.CalendarPage .rbc-btn-group {
  background: whitesmoke;
  font-size: 12px;
}
