.CalendarPage > .container {
  padding-top: 35px;
}

.CalendarPage .rbc-calendar {
  min-height: 800px;
}

.CalendarPage .rbc-toolbar {
  margin-bottom: 18px;
}

.CalendarPage .rbc-toolbar-label {
  color: #3174ad;
  font-size: 18px;
  font-weight: bold;
}

.CalendarPage .rbc-btn-group {
  background: whitesmoke;
  font-size: 12px;
}