.CalendarSettingsItem label {
  color: dodgerblue;
}

.CalendarSettingsItem .threeColumn {
  align-items: center;
  margin-bottom: 14px;
}

.CalendarSettingsItem .threeColumn .form-group {
  margin-bottom: 0;
}

.CalendarSettingsItem .threeColumn .badges {
  display: flex;
  justify-content: right;
}

.CalendarSettingsItem .btnGroup .btn {
  width: 85px;
  margin-right: 18px;
}

@media screen and (max-width: 768px) {
  .CalendarSettingsItem .btnGroup {
    margin-top: 24px;
  }
}
