.inputContainer {
  position: relative;
  overflow: hidden;
}

.input {
  width: 100%;
}

.button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  border: 1px solid dimgray;
}

.calendarIcon {
  padding: 0.2rem;
  min-width: 32px;
}

.dialogSheet {
  background: whitesmoke;
  border: 2px solid black;
  z-index: 1;
}
