.inputContainer {
  position: relative;
  overflow: hidden;
}

.input {
  width: 100%;
}

.button {
  position: absolute;
  line-height: 25px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
}

.calendarIcon {
  font-size: 1.75rem;
}

.dialogSheet {
  background: whitesmoke;
  border: 2px solid black;
  z-index: 1;
}
