form {
  width: 100%;
}

label {
  display: block !important;
  color: dodgerblue;
}

textarea {
  width: 100%;
  display: block;
}

#event-detail {
  padding-top: 35px;
}

#event-detail-form .DayPickerInput input {
  max-width: 110px;
}

#event-detail-form .row {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 18px;
}

#event-detail-form .two-column .col:first-of-type {
  padding-left: 0;
}
#event-detail-form .two-column .col:last-of-type {
  padding-left: 0;
  padding-right: 0;
}

.submit {
  margin-top: 18px;
}

.input--fail {
  border: 2px solid red;
}

.submit .btn {
  display: block;
  max-width: 120px;
  margin-bottom: 20px;
  font-size: .85rem;
}

.rc-time-picker-input {
  padding: 1px 2px !important;
  border: 1px solid rgb(118, 118, 118) !important;
  border-radius: 1px !important;
  font-size: 1rem !important;
  color: #000000 !important;
}
    