@media screen and (max-width: 768px) {
  .EventForm {
    padding-top: 35px;
  }
}

.EventForm form label {
  display: block;
  color: dodgerblue;
}

.EventForm textarea {
  width: 100%;
}

.EventForm .row {
  margin-bottom: 14px;
}

.EventForm .DayPickerInput,
.EventForm .DayPickerInput input {
  max-width: 100%;
}

.EventForm .rc-time-picker-input {
  padding: 1px 2px;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 1px;
  font-size: 1rem !important;
  color: #000000 !important;
}

.EventForm .btn {
  display: block;
  width: 130px;
  margin-bottom: 20px;
}