.Header > .container {
  max-width: 1600px;
}

.Header > .container > .row {
  width: 100%;
}

.Header .navbar-brand {
  display: table;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
}

.Header .navbar-nav {
  font-size: 1.2rem;
}
