.container {
  margin-bottom: 1.5rem;
}

.label {
  color: dodgerblue;
}

.button {
  display: inline !important;
  width: 75px;
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .container {
    margin-bottom: 1rem;
  }

  .input {
    margin-bottom: 1rem;
  }

  .button {
    margin-bottom: 1rem;
  }
}
