.RegisterForm {
  min-width: 200px;
}

.RegisterForm h4 {
  margin-bottom: 1.5rem;
}

.RegisterForm .btn {
  min-width: 120px;
  margin: 1rem 0;
}

.RegisterForm .text-danger {
  margin-bottom: 0.75rem;
}
