.Calendar {
  min-height: 800px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.Calendar > .container {
  max-width: 1800px;
}

.Calendar .rbc-calendar {
  min-height: 800px;
  padding-bottom: 50px;
}

.Calendar .rbc-toolbar {
  margin-bottom: 1.5rem;
}

.Calendar .rbc-toolbar-label {
  font-weight: bold;
}

.Calendar .rbc-btn-group {
  background: whitesmoke;
  font-size: 12px;
}

.Calendar label {
  font-size: 1.2rem;
}
