.CalendarEventForm label {
  white-space: nowrap;
}

.CalendarEventForm textarea {
  width: 100%;
}

.CalendarEventForm .row {
  margin-bottom: 1rem;
}

.CalendarEventForm .DayPickerInput,
.CalendarEventForm .DayPickerInput input {
  width: 100%;
}

.CalendarEventForm .btn {
  display: block;
  min-width: 100%;
  padding: 0.375rem 0.5rem;
  margin: 1rem 0;
}

.CalendarEventForm .react-time-picker {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .CalendarEventForm {
    padding-top: 35px;
    margin-bottom: 100px;
  }
}
