.CalendarToggleMenu {
  margin-bottom: 50px;
}

.CalendarToggleMenu div[class^='col'] {
  padding: 4px 4px;
}

.CalendarToggleMenu label {
  white-space: nowrap;
}

.CalendarToggleMenu #calendar-toggle label {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  padding: 3px 8px;
  font-size: 1rem;
  white-space: nowrap;
}

.CalendarToggleMenu #calendar-toggle label .badge {
  position: absolute;
  right: 10px;
}

.CalendarToggleMenu #select-all-btn {
  margin-top: 10px;
  padding: 4px 8px;
}
